Flask
Flask-Cors
Flask-SQLAlchemy
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
pinecone
pinecone-client
pinecone-plugin-assistant
pinecone-plugin-inference
pinecone-plugin-interface
psycopg2-binary
sentence-transformers