#here are all requirements required to run the project
pip install langchain
pip install langchain-groq
pip install -U langchain-community
pip install pinecone
pip install ServerlessSpec
pip install sentence_transformers
pip install json
pip install CORS
pip install Flask